// Custom Colors

$gray: #f3f3f3;
$border-gray: #dcdcdc;
$green: rgba(87, 196, 51, 1.0);

// Custom styles

.admin {

  .admin-nav {
    margin-top: 20px;
  }

  .entry-img {
    margin: 20px 0px;
  }

  .right {
    float: right;
    margin-top: 15px;
  }

  .left {
    float: left;
  }

  .entry-img {
    width: 300px;
  }

  .field {
    margin: 0px 0px 15px 0px;
  }

  .custom-fields {
    display: block;

    input {
      width: 100%;
    }

    .field-type {
      width: 28%;
      display: inline-block;
    }

    .field-type-2 {
      width: auto;
      display: inline-block;
    }

    .field-type-3 {
      width: auto;
      display: inline-block;
    }

  }

  .label-tag {
    display: block;
    font-size: 1.2em;
    font-weight: 600;
    margin-bottom: 10px;
  }

  input[type=radio], input[type=checkbox] {
    top: 0px;
  }

  .red {
    color: #ff0000;
  }

  .admin {
    table {
      width: 100%;
    }
    .right {
      float: right;
    }
    .left {
      float: left;
    }
  }

  .pad-left {
    margin-left: 20px;
  }

  #map {
    height: 608px;
    border-top: 4px solid #e3e3e3;
    border-bottom: 4px solid #e3e3e3
  }

  .inline {
    display: inline-block;
  }

  .panel {
    padding: 20px;
    background: $gray;
    border: 1px solid $border-gray;
  }

  .green {
    color: $green;
  }

}

