%h1.left Listing Settings
= link_to "#{fa_icon('plus', class: 'green')} New Entry".html_safe, express.new_setting_path, :class => "right btn btn-default"

%table.table.table-striped.table-bordered
  %thead
    %tr
      %th Name
      %th Slug
      %th Options
      %th

  %tbody.list
    = render 'express/settings/index', list: @list

